<p id="notice"><%= notice %></p>

<h1>Stayokay medewerkers</h1>

<% @employees_by_lastname.keys.sort.each do |letter| %>  

  <% for employee in @employees_by_lastname[letter] %>  
    <div style="background: lightyellow; height: 40px;">
		<%= link_to employee.fullname, register_lunch_employee_path(employee) %>
	</div>
  <% end %>  
<% end %>
