<p id="notice"><%= notice %></p>

<% @employees_by_lastname.keys.sort.each do |letter| %>  
<ul id="employees">
  <% for employee in @employees_by_lastname[letter] %>  
    <li>
		<%= link_to employee.fullname, register_lunch_employee_path(employee) %>
	</li>
  <% end %>  
<% end %>
	<br />
	<% #link_to '(maandstaat)', overview_per_month_employee_path(employee) %>