
ul#display-inline-block,
ul#display-inline-block li {
	/* Setting a common base */
	margin: 0;
	padding: 5px;
}

ul#display-inline-block li {
	display: inline-block;
	width: 100px;
	min-height: 100px;
	background: lightgrey;
}

ul#display-inline-block li.today {
	background: #7195aa;
	color: #fff;
}

#employees,
#employees li {
	/* Setting a common base */
	margin: 0 0 0.25em 0;  
	padding: 0;
}

#employees li {
	display: block;
	padding:9px 17px 9px 5px; 
	font-size:15pt; 
	font-weight:bold; 
	color: #ffffff; 
	text-transform:uppercase; 
	border-right:1px solid #607987; 
	text-transform: uppercase; 
	letter-spacing: .08em
}

#employees a {
	padding: 0.25em;
	text-decoration: none;
	
}
#employees a:hover {
	color: #fff;
	background-color: #7195aa; 

}



#topmenu {
	list-style-type:none; margin:0; padding:0; overflow:hidden;
}
#topmenu li {
	float:left;
}
#topmenu li a {
	display:block; text-decoration:none; 
	text-align:center; 
	padding:9px 17px 9px 17px; 
	font-size:8pt; 
	font-weight:bold; 
	color:#ffffff; 
	text-transform:uppercase; 
	border-right:1px solid #607987; 
	background-color: #7195aa; 
	text-transform: uppercase; 
	letter-spacing: .08em
}
#topmenu li a:hover {
	background-color: #eee; 
	color: #000;
}
#topmenu li a.first {
	border-left:0
}
#topmenu li a.last {
	border-right:0
}