
ul#display-inline-block,
ul#display-inline-block li {
	/* Setting a common base */
	margin: 0;
	padding: 5px;
}

ul#display-inline-block li {
	display: inline-block;
	width: 100px;
	min-height: 100px;
	background: lightgrey;
}

ul#display-inline-block li.today {
	background: lightblue;
}

#employees,
#employees li {
	/* Setting a common base */
	margin:0 0 0.25em 0;  
	padding: 0;
}

#employees li {
	display: block;
	width: 100%;
	min-height: 50px;
	font-size: large; 
}


* html #employees li a { width: 100%; }

#employees a {
	padding: 0.50em; 
	text-decoration: none;
	width: 100%;  
}
#employees a:hover {
	text-align:left;  
	padding: 0.5em;   
	width: 100%;  
	background-color: #eee;  
	color: #000;  
	border: 1px solid black; 
}



#topmenu {
	list-style-type:none; margin:0; padding:0; overflow:hidden;
}
#topmenu li {
	float:left;
}
#topmenu li a {
	display:block; text-decoration:none; 
	text-align:center; 
	padding:9px 17px 9px 17px; 
	font-family:Arial; 
	font-size:8pt; font-weight:bold; color:#ffffff; 
	text-transform:uppercase; 
	border-right:1px solid #607987; 
	background-color:#7195aa; 
	text-transform:uppercase; 
	letter-spacing:.08em
}
#topmenu li a:hover {
	background-color: #000; 
	color: white
}
#topmenu li a.first {
	border-left:0
}
#topmenu li a.last {
	border-right:0
}