ul#display-inline-block,
ul#display-inline-block li {
	/* Setting a common base */
	margin: 0;
	padding: 5px;
}

ul#display-inline-block li {
	display: inline-block;
	width: 100px;
	min-height: 100px;
	background: lightgrey;
}

ul#display-inline-block li.today {
	background: lightblue;
}



#employees,
#employees li {
	/* Setting a common base */
	margin:0 0 0.25em 0;  
	padding: 0;
}

#employees li {
	display: block;
	width: 100%;
	min-height: 50px;
	font-size: large; 
}


* html #employees li a { width: 100%; }

#employees a {
	padding: 0.50em; 
	text-decoration: none;
	width: 100%;  
}


#employees a:hover {
	text-align:left;  
	padding: 0.5em;   
	width: 100%;  
	background-color: #eee;  
	color: #000;  
	border: 1px solid black; 
}

